html, body {
  @include square;
  font-size: 0;
}

.welcomeCover,
.welcomeVideo,
.welcomeContent {
  @include square;
}

.welcomeVideo {
  position: absolute;
  transform: rotate(180deg);

  .overflow {
    position: absolute;
    @include square;
    background-color: rgba(0, 0, 0, 0.6);
  }

  video {
    @include autosize;
  }
}

.welcomeContent {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-around);
  position: relative;
  z-index: 2;
  width: $minWidth;
  margin: 0 auto;

  header {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, arial, sans-serif;
    color: white;

    h1 {
      margin-bottom: 42px;
      font-size: 72px;
    }

    p {
      font-size: 30px;
    }
  }

  footer {
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    color: white;

    p {
      font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, arial, sans-serif;
      font-size: 18px;
      line-height: 16 + 18px;
    }

    .btn-mute {
      @include box-sizing(border-box);
      @include square(48px);
      @include border-radius(25px);
      border: 2px solid white;
      text-align: center;

      i {
        line-height: 48px;
        font-size: 22px;
      }
    }
  }
}
