html, body {
  @include square;
  font-size: 0;
}

.welcomeCover,
.welcomeVideo,
.welcomeContent {
  @include square;
}

.welcomeVideo {
  position: absolute;
  transform: rotate(180deg);

  .overflow {
    position: absolute;
    @include square;
    background-color: rgba(0, 0, 0, 0.6);
  }

  video {
    @include autosize;
  }
}

.welcomeContent {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-around);
  position: relative;
  z-index: 2;
  width: $minWidth;
  margin: 0 auto;

  header {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, arial, sans-serif;
    color: white;

    h1 {
      margin-bottom: 42px;
      font-size: 72px;
    }

    p {
      font-size: 30px;
    }
  }

  footer {
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    color: white;

    p {
      font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, arial, sans-serif;
      font-size: 18px;
      line-height: 16 + 18px;
    }

    .btn-mute {
      @include box-sizing(border-box);
      @include square(48px);
      @include border-radius(25px);
      border: 2px solid white;
      text-align: center;

      i {
        line-height: 48px;
        font-size: 27px;
      }
    }
  }
}

.collaborate {
  overflow: scroll;
  height: 460px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #aaa;

  .inner-container {
    width: 200%;

    #collaborateContent {
      @include display-inline-flex;
      @include flex-direction(column);
      width: 50%;

      h3 {
        margin-top: 120px;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
        font-size: 30px;
        width: 100%;
        text-align: center;
      }

      ul {
        @include display-flex;
        @include justify-content(center);
        height: 116px;
        width: 100%;

        li {
          margin: 85px 80px;

          a {
            text-decoration: none;
            color: inherit;
          }

          i {
            font-size: 37px;
            width: 100%;
            text-align: center;
            margin-bottom: 32px;
          }

          h4 {
            width: 100%;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 8px;
          }

          p {
            width: 100%;
            text-align: center;
            font-family: "PT Sans Caption", arial, sans-serif;
            font-size: 12px;
            color: grey;
            // color: rgb(67, 67, 67);

            a {
              color: grey;
              // color: rgb(67, 67, 67);
            }
          }
        }
      }
    }

    #send-link {
      margin-left: 50%;
      width: 50%;

      form {
        display: block;
        width: 590px;
        margin: -100px auto;

        input {
          width: 590px;
          height: 60px;
          line-height: 60px;
          border: 1px solid black;
          font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
          font-size: 16px;
          @include border-radius(7px);
          text-align: center;

          &:focus {
            outline: none;
          }
        }
      }

      a {
        display: block;
        margin: 125px auto;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
        font-size: 12px;
        color: #999;
        text-decoration: none;
      }
    }
  }
}

.video {
  @include square;

  .videoContent {
    display: block;
    width: 100%;

    h2 {
      margin-top: 60px;
      margin-bottom: 50px;
      text-align: center;
      display: block;
      font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, arial, sans-serif;
      font-size: 45px;
    }

    #ourVid {
      display: block;
      margin: 0 auto;
    }
  }
}

